body {
  background-image: url(../img/bg.png);
  background-size: 100% 100%;
}

.s-button {
  width: 80px;
  height: 80px;
}

/* kikilala */
header {
  padding-left:260px;
  padding-bottom: 50px;
  margin-top: -40px;
}

.a-button {
  padding-left: 60px;
  padding-top:80px;
}

/* .fr-button { */
  /* padding-left: 360px; */
  /* margin-top: 10px; */
/* } */

/* little twin stars */
h1 {
  font-family: Grand Hotel; cursive;
  font-size: 60px;
  color: #EF87A7;
  letter-spacing: 3px;
  text-align: center;
  margin-top: -340px;
  margin-left: 330px;
  text-decoration: none;

}

.border {
  border: 10px solid #C0CBFA;
  border-radius: 20px;
  padding-bottom: 140px;
  margin: 90px;
  margin-top: 350px;
  margin-bottom: 60px;
  border-style: solid;

}
.par {
  margin-top: -120px;
}
.about {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #997261;
  /* text-align: center; */
  margin-left: 120px;
  margin-right: 110px;
  margin-top: 200px;
  margin-bottom: 80px;
  font-size: 20px;
  padding: 20px;
}
/* quote */
h2 {
  font-family: Grand Hotel;
  font-size: 45px;
  color: #EF87A7;
  letter-spacing: 1.9px;
  text-align: center;
  padding: 30px;
  margin: 20px;
  /* margin-left: 150px; */
  /* margin-right: 150px; */

}

p {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #997261;
  margin-left: 150px;
  font-size: 16px;

}

figcaption {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #997261;
}



.friend-list {
  font-family: Grand Hotel;
  font-size: 30px;
  color: #EF87A7;
  margin-left: 150px;
  margin-top: 50px;
}

.names {
  font-family: Grand Hotel;
  font-size: 30px;
  color: #EF87A7;
  margin-top: 40px;
}

.friends {
list-style: none;
margin-left:-40px;
line-height: 190%;
}

a {
  color: #997261;

}
a:hover {
  color: #EF87A7;
}

ul li {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #997261;
  margin-left: 150px;
  font-size: 16px;
}

/* link to character page */
.hyperlink {
  text-decoration: none;
  color: #997261;
}

/* footer link */
.skillshare {
  text-decoration: none;
  color: #EF87A7;
}

figure {
  text-align: center;
}

figcaption {
  padding-bottom: 50px;
}

footer {
  /* margin-left: 150px; */
  /* text-decoration: underline; */
  text-align: center;
  padding-bottom: 40px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #997261;

}
footer a{
  color: #EF87A7;
}

footer a:hover {
  opacity: .5;
  background-color: transparent;
}
